<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace属性：用于指定当前映射文件和哪个接口进行映射，需要指定接口的文件完整路径-->
<mapper namespace="com.cy.store.mapper.FavoritesMapper">
    <resultMap id="FavoritesEntityMap" type="com.cy.store.entity.Favorites">
        <id column="fid" property="fid"/>
        <result column="sell_point" property="sellPoint"/>
    </resultMap>
    <insert id="addFavorites" parameterType="com.cy.store.entity.Favorites" useGeneratedKeys="true" keyProperty="fid">
        insert into t_favorites(uid,pid,image,price,title,sell_point,status)
        values(#{uid},#{pid},#{image},#{price},#{title},#{sellPoint},#{status})
    </insert>

    <!--    List<Favorites> queryFavoritesByUidAndStatus(Integer uid,Integer status);-->
    <select id="getFavorites" resultType="com.cy.store.entity.Favorites">
        select * from t_favorites
        where uid=#{uid} and status=#{status}
    </select>

    <!--    int updateFavoritesStatus(Integer status,Integer fid,Integer uid);-->
    <update id="updateFavorites">
        update t_favorites set status=#{status}
        where fid=#{fid} and uid=#{uid}
    </update>
</mapper>